---
Language: C
AlignArrayOfStructures: None
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 2
ColumnLimit: 80
ContinuationIndentWidth: 2
ExperimentalAutoDetectBinPacking: true
IndentCaseLabels: true
IndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 100
SpaceInEmptyBlock: false
SpacesInContainerLiterals: true
UseTab: Never
---
Language: Cpp
AlignArrayOfStructures: None
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 2
ColumnLimit: 80
ContinuationIndentWidth: 2
ExperimentalAutoDetectBinPacking: true
IndentCaseLabels: true
IndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 100
SpaceInEmptyBlock: false
SpacesInContainerLiterals: true
UseTab: Never
...
