---
Language: C
AlignArrayOfStructures: Left
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 2
ColumnLimit: 80
ExperimentalAutoDetectBinPacking: true
IndentCaseLabels: true
IndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 100
SpaceInEmptyBlock: false
SpacesInContainerLiterals: true
UseTab: Never
---
Language: Cpp
AlignArrayOfStructures: Left
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 2
ColumnLimit: 80
ExperimentalAutoDetectBinPacking: true
IndentCaseLabels: true
IndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 100
SpaceInEmptyBlock: false
SpacesInContainerLiterals: true
UseTab: Never
...
